*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Sosmed */
.facebook {
    position: fixed;
    bottom: 400px;
    right: 20px;
    z-index: 9;
    font-size: 2.5em;
    cursor: pointer;
    transition: 0.2s;
    color: grey;
    opacity: 0.5;
}

.facebook:hover {
    opacity: 1;
    color: #3B5998;
}

.twitter {
    position: fixed;
    bottom: 350px;
    right: 20px;
    z-index: 9;
    font-size: 2.5em;
    cursor: pointer;
    transition: 0.2s;
    color: grey;
    opacity: 0.5;
}

.twitter:hover {
    opacity: 1;
    color: #00ACEE;
}

.whatsapp {
    position: fixed;
    bottom: 300px;
    right: 20px;
    z-index: 9;
    font-size: 2.5em;
    cursor: pointer;
    transition: 0.2s;
    color: grey;
    opacity: 0.5;
}

.whatsapp:hover {
    opacity: 1;
    color: #25d366;
}

/* Navigation */
header {
    width: 100%;
    height: 60px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    box-shadow: 0 0 10px #72FFFF;
    background-color: #00D7FF;
}

.nav-item {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    opacity: 0.5;
    text-decoration: none;
    transition: 0.25s;
}

.nav-link:hover {
    opacity: 1;
    transform: translateY(-10%);
}

.nav-icon {
    display: none !important;
}

.nav-text {
    font-weight: bolder;
    color: #72FFFF;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 20px;
    color: #72FFFF;
}

.title::after {
    content: "";
    width: 80px;
    height: 5px;
    background-color: #00D7FF;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

/* Home */
.home {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px;
    height: 100vh;
    align-items: center;
}

.home-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    color: #72FFFF;
}

.home img {
    width: 50%;
}

.home span {
    font-size: 15px;
}

/* Product & Category*/
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col {
    flex-basis: 25%;
    padding: 10px;
    margin: 20px;
    min-width: 200px;
    box-shadow: 0 0 10px #0096FF;
    cursor: pointer;
    transition: 0.3s;
    background-color: #0096FF;
}

.col:hover {
    box-shadow: 0 0 10px #72FFFF;
}

.col img {
    width: 100%;
}

.col h4, .col p {
    text-align: center;
    margin: 5px;
}

.col h4 {
    margin-top: 20px;
    color: #72FFFF;
}

.col p {
    margin-bottom: 20px;
    color: #72FFFF;
}

/* category */
.category-brand {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 0 5px #72FFFF;
    margin: 0 10px;
    padding: 10px;
}

.category-title {
    text-align: center;
    margin: 15px 0 15px;
    color: #72FFFF;
}

/* Contact */

footer {
    border-top: 2px solid grey;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}

.contact ul {
    list-style-type: none;
}

.contact h3 {
    margin-bottom: 5px;
}

.contact li {
    margin: 3px;
    cursor: pointer;
    transition: 0.3s;
    color: grey;
    opacity: 0.5;
}

.contact li:hover {
    color: #00D7FF;
    opacity: 1;
}

.icon {
    display: flex;
}

.icon span {
    font-size: 25px;
}

.icon li a {
    text-decoration: none;
    list-style-type: none;
    font-size: 25px;
    color: grey;
}

.icon li a:hover {
    color: #00D7FF;
}

.copyright {
    text-align: center;
    color: #72FFFF;
}

.copyright img {
    width: 300px;
}

@media screen and (max-width: 487px) {
    /* Responsive */
    .whatsapp, .twitter, .facebook {
        margin-bottom: -150px;
    }

    header {
        width: 100%;
        position: fixed;
        bottom: 16px;
        left: 0;
        z-index: 9;
        padding: 10px;
    }

    .nav-list {
        background-color: #0096FF;
    }

    .nav-icon {
        display: block !important;
        font-size: 20px;
        transition: 0.25s;
        color: #72FFFF;

    }

    .nav-icon:hover {
        transform: translateY(-10%);
    }
    
    .nav-text {
        display: none;
    }

    .col {
        text-align: center;
    }

    .col {
        flex-basis: 100%;
    }

    .home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .home-title {
        text-align: center;
    }

    .home img {
        width: 90%;
        margin: 50px auto;
    }

    .contact h3 {
        margin-top: 10px;
    }

    .copyright {
        margin-bottom: 75px;
    }
}